echo pandas==2.2.3 > requirements.txt
echo spacy==3.7.6 >> requirements.txt
echo scikit-learn==1.5.2 >> requirements.txt
echo tqdm==4.66.5 >> requirements.txt
echo fastapi==0.115.0 >> requirements.txt
echo uvicorn==0.32.0 >> requirements.txt
echo joblib==1.4.2 >> requirements.txt
echo pydantic==2.9.2 >> requirements.txt